@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

html,
body {
  margin: 0 auto;
  font-family: "Orbitron", sans-serif;
  height: 100vh;
  font-size: 100%;
}

button {
  cursor: pointer;
  font-family: "Orbitron", sans-serif;
  padding: 0;
  font-size: 100%;
}

.calculator {
  position: relative;
  margin: 0 auto;
  width: 13rem;
  box-shadow: 0 0.5rem 0.5rem rgba(77, 59, 162, 0.2);
  padding: 0 0 1rem;
  border-radius: 0.5rem;
}

.display {
  background-color: rgba(0, 255, 195, 0.2);
  width: 100%;
  padding: 0.4rem;
  text-align: right;
  box-sizing: border-box;
}

.display__history {
  opacity: 0.5;
  font-size: 0.8rem;
  height: 2rem;
}

.display__results {
  font-size: 1.6rem;
  height: 2rem;
}

.numpad {
  display: flex;
  margin: 0 auto;
  width: 12rem;
  margin: 1rem auto 0;
}

.numpad__digits {
  display: flex;
  width: 9rem;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row-reverse;
}

.numpad__digits button {
  width: 33.33%;
  border: none;
  aspect-ratio: 1 / 1;
  background-color: transparent;
  position: relative;
}

.numpad__digits button:after {
  content: "";
  display: block;
  opacity: 0;
  position: absolute;
  left: 10%;
  top: 10%;
  width: 80%;
  height: 80%;
  background-color: rgba(77, 59, 162, 0.1);
  border-radius: 50%;
  transition: all 0.2s ease-out;
}

.numpad__digits button:hover:after {
  opacity: 1;
}

.numpad__operators {
  width: 3rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.numpad__operators button {
  width: 80%;
  aspect-ratio: 1 / 1;
  border: none;
  border-radius: 0.5rem;
  background-color: transparent;
  color: rgb(208, 139, 102);
}

.numpad__operators button:nth-child(n + 3) {
  font-size: 140%;
}

.post {
  position: absolute;
  bottom: .3rem;
  right: .5rem;
  font-size: 60%;
  cursor: pointer;
  opacity: .6;
  letter-spacing: 2px;
  border: none;
  background-color: transparent;
}
